<ul>
  <li><%= navlink('HomCloud FrontPage', 'index') %></li>
  <li><%= navlink('Download', 'index', '#download') %></li>
  <li><%= navlink('How to Install', 'how-to-install') %></li>
  <li><%= navlink('Basic Usage Tutorial', 'basic-usage') %></li>
</ul>

