<ul>
  <li><%= navlink('HomCloud FrontPage', 'index') %></li>
  <li><%= navlink('Download', 'index', '#download') %></li>
  <% if current_page.data.lang == "ja" %>
    <li><a href="homcloud-docs-ja/OS_selects.html">How to install</a></li>
  <% else %>
    <li><%= navlink('How to Install', 'how-to-install') %></li>
  <% end %>
  <li><%= navlink('Basic Usage Tutorial', 'basic-usage') %></li>
  <% if current_page.data.lang == "ja" %>
    <li><a href="homcloud-docs-ja/index.html">Document</a></li>
  <% end %>
  <li><a href="https://www.wpi-aimr.tohoku.ac.jp/hiraoka_labo/homcloud/python-api/">Python Interface API</a></li>
  <li><a href="download-links.html">Old versions</a></li>
</ul>

